$fontStack: "Nunito", "Sans-serif", "arial";
$mainGreen: #22b1ab;
$nunSan: "Nunito Sans", "Sans-serif", "arial";
*{
  border-radius: border-box;
}
html{
  height: 100%;
}
body{
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-image: linear-gradient( 63deg,  rgba(242,168,168,1) 2.9%, rgba(94,46,165,0.7) 102.1% );
  font-family: $fontStack;
}
a{
  text-decoration: none;
}
a:visited{
  color: inherit;
}

#navbarCont{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: 6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.13);
  #navACont{
    list-style-type: none;
    #respNav{
      display: none;
      z-index: 7;
      position: absolute;
      top: 25px;
      right: 25px;
      opacity: 0.8;
      transition: 0.2s;
      i{
        font-size: 30px;
        background: -webkit-linear-gradient( 63deg,  rgba(242,168,168,1) 2.9%, rgba(94,46,165,0.7) 102.1% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:hover{
        cursor: pointer;
        opacity: 1;
      }
    }
    span{
      font-family: "Roboto";
      font-size: 30px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      line-height: 60px;
    }
    li{
      float: right;
      font-size: 15px;
      letter-spacing: 0.25em;
      padding-top: 20px;
      i{
        color: $mainGreen;
        transition: 0.2s;
      }
      a{
        padding: 31px 20px;
        color: #8d8b8b;
        text-transform: uppercase;
        border-bottom: 0px solid $mainGreen;
        transition: 0.09s;
        .hoverMore{
          z-index: 6;
          background-color: white;
          position: absolute;
          top: 90px;
          right: 0;
          height: 0px;
          width: 788px;
          opacity: 0.5;
          overflow: hidden;
          transition: 0.2s;
          border-top: 1px solid grey;
          h1{
            padding: 20px 50px;
            padding-bottom: 3px;
            color: $mainGreen;
            font-family: $fontStack;
            font-size: 18px;
            text-transform: none;
            letter-spacing: normal;
          }
          a{
            padding: 0;
            color: inherit;
          }
          p{
            padding-left: 50px;
            letter-spacing: normal;
            text-transform: none;
            &:hover{
              cursor:pointer;
              text-decoration: underline;
            }
          }
          .sideByFirst{
            position: absolute;
            width: 300px;
            height: 200px;
            top: 0px;
            right: 250px;
          }
          .sideByLast{
            position: absolute;
            width: 300px;
            height: 200px;
            top: 0px;
            right: 0px;
          }
        }
      }
      .hoverMore:hover{
        cursor: default;
      }
      a:hover{
        border-bottom: 3px solid $mainGreen;
        i{
          -ms-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
        }
        .hoverMore{
          height: 300px;
          opacity: 1;
        }
      }
    }
    #lastA{
      margin-right: 50px;
    }

  }
}
#revCont{
  font-family: $nunSan;
  position: relative;
  top: 0;
  height: 100vh;
  width: 100%;

  #rectBg{
    .rect{
      z-index: -1;
      margin-top: 90px;
      position: absolute;
      background-color: white;
      opacity: 0.09;
      border-radius: 10px;
      transition: 0.2s;

    }

    .a{
      height: 22%;
      width: 50.5%;
    }
    .b{
      top: 36%;
      height: 10%;
      width: 33%;
    }
    .c{
      top: 61%;
      height: 30%;
      width: 40%;
    }
    .d{
      height: 9%;
      width: 40%;
      top: 49%;
      left: 9%;
    }
    .e{
      height: 5%;
      width: 50%;
      top: 83%;
      left: 43%;
    }
    .f{
      height: 3%;
      width: 25%;
      top: 78%;
      left: 43%;
    }
    .g{
      height: 3%;
      width: 1%;
      top: 78%;
      left: 69%;
    }
    .h{
      height: 3%;
      width: 30%;
      top: 78%;
      left: 71%;
    }
    .i{
      height: 14%;
      width: 17%;
      top: 61%;
      left: 43%;
      border-top-right-radius: 0px;
    }
    .j{
      height: 12%;
      width: 9%;
      top: 49%;
      left: 51%;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .k{
      height: 26%;
      width: 17%;
      top: 49%;
      left: 62%;
      border-top-right-radius: 0px;
    }
    .l{
      height: 66%;
      width: 5%;
      top: 0%;
      left: 81%;
      border-top-right-radius: 0px;
    }
    .m{
      height: 6%;
      width: 19%;
      top: 69%;
      left: 81%;
      border-top-right-radius: 0px;
    }
    .n{
      height: 50%;
      width: 13%;
      top: 0%;
      left: 88%;
    }
    .o{
      height: 13%;
      width: 7%;
      top: 53%;
      left: 88%;
    }
    .p{
      height: 14%;
      width: 20%;
      top: 32%;
      left: 59%;
    }

  }
  #mainBodyCont{
    margin: auto;
    width: 800px;
    padding-top: 200px;
    text-align: center;
    color: white;
    #headerCont{
      position: relative;
      .line{
        position: relative;
        background-color: white;
        height: 1px;
        opacity: 0.7;
      }
      .a{
        left: 50%;
        margin-left: -250px;
        top: 130px;
        width: 500px;
      }
      .b{
        width: 295px;
        float: right;
        right: 144px;
        top: 85.7px;
        transform: rotate(17deg);
      }
      .c{
        width: 340px;
        float: right;
        top: 103px;
        right: -100px;
        transform: rotate(-20deg);
      }
      .d{
        width: 245px;
        float: right;
        transform: rotate(-20deg);
        top: 67px;
        right: 254px;
      }
      h1{
        font-weight: 900;
        font-size: 65px;
        letter-spacing: 18px;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
      }

    }
    p{
      font-size: 45px;
    }
    #firstSpan{
      margin-left: 35px;
    }
    span{
      display: inline-block;
      z-index: 1;
      font-family: $fontStack;
      padding: 10px 35px;
      font-size: 21px;
      font-weight: 1;
      transition: 0.2s;
      &:hover{
        cursor:pointer;
        text-decoration: underline;
        opacity: 0.9;
      }
    }
  }
  #chevCont:hover{
    width: 60px;
    height: 60px;
    margin-left: -30px;
    i{
      padding-top: 30px;
      padding-left: 14px;
    }
  }
  #chevCont{
    z-index: 4;
    position: absolute;
    margin-left: -25px;
    bottom: 100px;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background-color: white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.13);
    transition: 0.2s;
    -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out;
    -moz-animation: pulse 3s infinite ease-in-out;
    animation: pulse 3s infinite ease-in-out;
    &:hover{
      cursor: pointer;
    }
    @keyframes pulse {
    0% { transform: rotate(45deg), scale(0.9); opacity: 0.7; }
    50% { transform: rotate(45deg), scale(1); opacity: 1; }
    100% { transform: rotate(45deg), scale(0.9); opacity: 0.7; }
}
    i{
      color: $mainGreen;
      font-size: 20px;
      padding-top: 24px;
      padding-left: 11px;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: 0.2s;
    }
  }
}
#infoCont{
  position: relative;
  width: 100%;
  margin-top: -50px;
  height: 100vh;
  background-color: #fbfbfb;
  p{
    padding-top: 28vh;
    padding-left: 160px;
    font-family: $nunSan;
    font-size: 50px;
    width: 500px;
    color: #312e2e;
  }
  ul{
    padding-left: 160px;
    font-size: 19px;
    letter-spacing: 0.06em;
    list-style-type: none;
    li{
      padding-top: 30px;
    }
    i{
      color:$mainGreen;
      padding-right: 10px;
    }
    a{
      text-transform: uppercase;
      color: #8d8b8b;
      transition: 0.2s;
    }
    a:hover{
      padding-left: 10px;
      color:  #312e2e;
    }
  }
  img{
    position: absolute;
    top: 25vh;
    right: 200px;
    width: 500px;
  }
}
#bottomPanel{
  width: 100%;
  height: 500px;
  background-image: linear-gradient( 109.6deg,  #2b2c31  11.2%, #27262b 91.1% );
  .panel{
    margin-top: 70px;
    margin-left: 160px;
    position: absolute;
    width: 200px;
    h1{
      padding: 10px 0;
      color: #99bbf1;
      font-size: 19px;
      font-weight: 400
    }
    p{
      z-index: 9;
      padding-top: 7px;
      color: white;
      &:hover{
        opacity: 0.7;
        cursor:pointer;
      }
    }
  }
  .two{
    margin-left: 500px;
  }
  .three{
    margin-left: 900px;
  }
  .four{
    margin-left: 1300px;
    input{
      height: 50px;
      border: 0px;
      width: 169px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      text-indent: 15px;
    }
    input:focus{
      outline: none;
    }
    #fakeSubmit{
      height: 52px;
      width: 50px;
      background-color: white;
      background-image: linear-gradient( 63deg,  rgba(242,168,168,1) 2.9%, rgba(94,46,165,0.6) 102.1% );
      float: left;
      margin-top: -52px;
      margin-left: 169px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      text-align: center;
      color: white;
      transition: 0.2s;
      &:hover{
        cursor:pointer;

          opacity: 0.9;

      }
      i{
        padding-top: 35%;
      }
    }
  }
}
@media only screen and (max-height: 900px) {
  #revCont{
  #mainBodyCont{
    padding-top: 150px;
  }
}
}
@media only screen and (max-height: 800px) {
  #revCont{
  #chevCont{
    bottom: 50px;
  }
}
}
@media only screen and (max-height: 730px) {
  #revCont{
  #mainBodyCont{
    p{
      font-size: 35px;
    }
  }
}
}
@media only screen and (max-height: 700px) {
  #revCont{
  #mainBodyCont{
    padding-top: 100px;
  }
}
}

@media only screen and (max-width: 1600px) {
#bottomPanel{
  .two{
    margin-left: 30%;
  }
  .three{
    margin-left: 50%;
  }
  .four{
    margin-left: 70%;
  }
}
#infoCont{
  margin-top: -80px
  p{
    font-size: 45px;
  }
  img{
    margin-top: 50px;
    width: 400px;
    right: 10%;
  }
  ul{
    li{
      padding-top: 15px;
    }
    a, i{
      font-size: 16px;
    }
  }
}

}
@media only screen and (max-width: 1400px) {
  #navbarCont{
    #navACont{
      li{
        font-size: 13px;
        a{
          padding: 34px 20px;
          .hoverMore{
            width: 710px;
            .sideByFirst{
              right: 230px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  #navbarCont{
    height: 75px;
    #navACont{
      span{
        line-height: 40px;
        font-size: 25px;
      }
      #lastA{
        margin-right: 0px;
      }
      li{
        padding-top: 13px;
        a{
          padding-bottom: 25px;
          .hoverMore{
            top: 75px;
            width: 660px;
            .sideByFirst{
              right: 200px;
            }
          }
        }
      }
    }
  }
  #infoCont{
    margin-top: -35px;
    p{
      font-size: 35px;
      width: 350px;
    }
    img{
      margin-top: 8vh;
      width: 250px;
    }
    ul{
      a, i{
        font-size: 14px;
      }
    }
  }

  #bottomPanel{
    .two{
      margin-left: 32%;
    }
    .three{
      margin-left: 52%;
    }
  }
}
@media only screen and (max-width: 1000px) {
  #navbarCont{
     #navACont, .respDown{
       #respNav{
         display: block;
       }
      #lastA{
        margin-top: 19px;
      }
       li{
         display: none;
        padding-left: 30px;
        background-color: rgba(255, 255, 255, 0.95);
        padding: 1px 0px;
        text-align: center;
        position: relative;
        width: 100vw;
        a{
          display: block;
          padding: 28px 30px;
          margin-left: 23px;
          &:hover{
            border: 0;
            .hoverMore{
              border-top: 3px solid  #22b1ab;
            }
          }
        //  border: 1px solid grey;
          .hoverMore{
            background-color: rgba(255, 255, 255, 0.8);
            position: relative;
            margin-left: -36px;
            width: 100vw;
            border: 0;
            top: 31px;
            float: left;
            margin-bottom: 30px;
            h1{
              font-size: 16px;
              padding: 20px 0px;
              padding-bottom: 3px;
              text-align: left;
            }
            p{
              font-size: 14px;
              padding: 3px 0px;
              text-align: left;
            }
            .sideByIn{
              //background-color: green;
              position: absolute;
              width: 33%;
              height: 100%;
              top: 0px;
              left: 5%;
            }
            .sideByFirst{
              //background-color: yellow;
              position: absolute;
              width: 33%;
              height: 100%;
              top: 0px;
              left: 38%;
            }
            .sideByLast{
              //background-color: orange;
              position: relative;
              width: 33%;
              height: 100%;
              top: 0%;
              left: 71%;
            }
          }
        }
      }
    }
    #navACont.respLive li{
      display: block;
    }
  }
  #revCont{
    #mainBodyCont{
      width: 100%;
      #headerCont{
        .line{
          display: none;
        }

      }
      p{
        margin-left: 2.5%;
        width: 95%;
      }
    }
  }
  #infoCont{
    p{
      padding-left: 10%;
    }
    ul{
      padding-left: 10%;
    }
  }
  #bottomPanel{
    height: 700px;
    .panel{
      margin-left: 15%;
      width: 33%;
    }
    .two{
      margin-left: 55%;
    }
    .three{
      margin-top: 400px;
      margin-left: 15%;
    }
    .four{
      margin-top: 400px;
      margin-left: 55%;
    }
  }
}
@media only screen and (max-width: 785px) {
  #revCont{
    #mainBodyCont{
      padding-top: 20vh;
      width: 100%;
      #headerCont{
        h1{
          font-size: 50px;
        }
      }
      p{
        font-size: 35px;
      }
      #firstSpan{
        margin-left: 1%;
      }
      span{
        font-size: 18px;
      }
    }
  }
  #infoCont{
    height: 900px;
    img{
      top: 50px;
      right: 50%;
      margin-right: -125px;
    }
    p{
      width: 80%;
      padding-top: 400px;
      text-align: center;
    }
    i{
      display: none;
    }
    ul{
      padding:  0;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 613px) {
  #revCont{
  #mainBodyCont{
    p{
      font-size: 24px;
    }
  }
  #chevCont{
    bottom: 50px;
  }
}
}
@media only screen and (max-width: 550px) {
  #bottomPanel{
    .panel{
      margin-left: 10%;
      width: 33%;
      h1{
        font-size: 15px
      }
      p{
        font-size: 13px;
      }
    }
    .two{
      margin-left: 50%;
    }
    .three{
      margin-top: 400px;
      margin-left: 10%;
    }
    .four{
      margin-top: 400px;
      margin-left: 50%;
    }
  }
}
@media only screen and (max-width: 460px) {
  #bottomPanel{
    height: 900px;
    .four{
      margin-top: 650px;
      margin-left: 10%;
    }
  }
}
@media only screen and (max-width: 479px) {
  #revCont{
  #mainBodyCont{
    #headerCont{
      h1{
        font-size: 37px;
        margin-left: 15px;
      }
    }
  }
}
}
@media only screen and (max-width: 515px) {
  #navbarCont{
    #navACont{
      li{
        a{
          &:hover{
            .hoverMore{
              height: 440px;
            }
            .research{
              height: 300px;
            }

          }
          .hoverMore{
            .sideByIn{
              width: 50%;
              left: 5%;
            }
            .sideByFirst{
              width: 50%;
              left: 55%;
            }
            .sideByLast{
              position: relative;
              width: 33%;
              height: 100%;
              top: 260px;
              left: 5%;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 515px) {
  #navbarCont{
    #navACont{
      li{
        a{
          .hoverMore{
            h1{
              font-size: 14px;
            }
            p{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
