* {
  border-radius: border-box; }

html {
  height: 200vh; }

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-image: -webkit-linear-gradient(27deg, #f2a8a8 2.9%, rgba(94, 46, 165, 0.7) 102.1%);
  background-image: -o-linear-gradient(27deg, #f2a8a8 2.9%, rgba(94, 46, 165, 0.7) 102.1%);
  background-image: linear-gradient(63deg, #f2a8a8 2.9%, rgba(94, 46, 165, 0.7) 102.1%);
  font-family: "Nunito", "Sans-serif", "arial"; }

a {
  text-decoration: none; }

a:visited {
  color: inherit; }

#navbarCont {
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  z-index: 6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.13); }
  #navbarCont #navACont {
    list-style-type: none; }
    #navbarCont #navACont #respNav {
      display: none;
      z-index: 7;
      position: absolute;
      top: 25px;
      right: 25px;
      opacity: 0.8;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      #navbarCont #navACont #respNav i {
        font-size: 30px;
        background: -webkit-linear-gradient(63deg, #f2a8a8 2.9%, rgba(94, 46, 165, 0.7) 102.1%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      #navbarCont #navACont #respNav:hover {
        cursor: pointer;
        opacity: 1; }
    #navbarCont #navACont span {
      font-family: "Roboto";
      font-size: 30px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      line-height: 60px; }
    #navbarCont #navACont li {
      float: right;
      font-size: 15px;
      letter-spacing: 0.25em;
      padding-top: 20px; }
      #navbarCont #navACont li i {
        color: #22b1ab;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      #navbarCont #navACont li a {
        padding: 31px 20px;
        color: #8d8b8b;
        text-transform: uppercase;
        border-bottom: 0px solid #22b1ab;
        -webkit-transition: 0.09s;
        -o-transition: 0.09s;
        transition: 0.09s; }
        #navbarCont #navACont li a .hoverMore {
          z-index: 6;
          background-color: white;
          position: absolute;
          top: 90px;
          right: 0;
          height: 0px;
          width: 788px;
          opacity: 0.5;
          overflow: hidden;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          border-top: 1px solid grey; }
          #navbarCont #navACont li a .hoverMore h1 {
            padding: 20px 50px;
            padding-bottom: 3px;
            color: #22b1ab;
            font-family: "Nunito", "Sans-serif", "arial";
            font-size: 18px;
            text-transform: none;
            letter-spacing: normal; }
          #navbarCont #navACont li a .hoverMore a {
            padding: 0;
            color: inherit; }
          #navbarCont #navACont li a .hoverMore p {
            padding-left: 50px;
            letter-spacing: normal;
            text-transform: none; }
            #navbarCont #navACont li a .hoverMore p:hover {
              cursor: pointer;
              text-decoration: underline; }
          #navbarCont #navACont li a .hoverMore .sideByFirst {
            position: absolute;
            width: 300px;
            height: 200px;
            top: 0px;
            right: 250px; }
          #navbarCont #navACont li a .hoverMore .sideByLast {
            position: absolute;
            width: 300px;
            height: 200px;
            top: 0px;
            right: 0px; }
      #navbarCont #navACont li .hoverMore:hover {
        cursor: default; }
      #navbarCont #navACont li a:hover {
        border-bottom: 3px solid #22b1ab; }
        #navbarCont #navACont li a:hover i {
          -ms-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg); }
        #navbarCont #navACont li a:hover .hoverMore {
          height: 300px;
          opacity: 1; }
    #navbarCont #navACont #lastA {
      margin-right: 50px; }

#revCont {
  font-family: "Nunito Sans", "Sans-serif", "arial";
  position: relative;
  top: 0;
  height: 100vh;
  min-height: 670px;
  width: 100%; }
  #revCont #rectBg .rect {
    z-index: -1;
    margin-top: 90px;
    position: absolute;
    background-color: white;
    opacity: 0.09;
    border-radius: 10px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  #revCont #rectBg .a {
    height: 22%;
    width: 50.5%; }
  #revCont #rectBg .b {
    top: 36%;
    height: 10%;
    width: 33%; }
  #revCont #rectBg .c {
    top: 61%;
    height: 30%;
    width: 40%; }
  #revCont #rectBg .d {
    height: 9%;
    width: 40%;
    top: 49%;
    left: 9%; }
  #revCont #rectBg .e {
    height: 5%;
    width: 50%;
    top: 83%;
    left: 43%; }
  #revCont #rectBg .f {
    height: 3%;
    width: 25%;
    top: 78%;
    left: 43%; }
  #revCont #rectBg .g {
    height: 3%;
    width: 1%;
    top: 78%;
    left: 69%; }
  #revCont #rectBg .h {
    height: 3%;
    width: 30%;
    top: 78%;
    left: 71%; }
  #revCont #rectBg .i {
    height: 14%;
    width: 17%;
    top: 61%;
    left: 43%;
    border-top-right-radius: 0px; }
  #revCont #rectBg .j {
    height: 12%;
    width: 9%;
    top: 49%;
    left: 51%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
  #revCont #rectBg .k {
    height: 26%;
    width: 17%;
    top: 49%;
    left: 62%;
    border-top-right-radius: 0px; }
  #revCont #rectBg .l {
    height: 66%;
    width: 5%;
    top: 0%;
    left: 81%;
    border-top-right-radius: 0px; }
  #revCont #rectBg .m {
    height: 6%;
    width: 19%;
    top: 69%;
    left: 81%;
    border-top-right-radius: 0px; }
  #revCont #rectBg .n {
    height: 50%;
    width: 13%;
    top: 0%;
    left: 88%; }
  #revCont #rectBg .o {
    height: 13%;
    width: 7%;
    top: 53%;
    left: 88%; }
  #revCont #rectBg .p {
    height: 14%;
    width: 20%;
    top: 32%;
    left: 59%; }
  #revCont #mainBodyCont {
    margin: auto;
    width: 800px;
    padding-top: 200px;
    text-align: center;
    color: white; }
    #revCont #mainBodyCont #headerCont {
      position: relative; }
      #revCont #mainBodyCont #headerCont .line {
        position: relative;
        background-color: white;
        height: 1px;
        opacity: 0.7; }
      #revCont #mainBodyCont #headerCont .a {
        left: 50%;
        margin-left: -250px;
        top: 130px;
        width: 500px; }
      #revCont #mainBodyCont #headerCont .b {
        width: 295px;
        float: right;
        right: 144px;
        top: 85.7px;
        -webkit-transform: rotate(17deg);
        -ms-transform: rotate(17deg);
        transform: rotate(17deg); }
      #revCont #mainBodyCont #headerCont .c {
        width: 340px;
        float: right;
        top: 103px;
        right: -100px;
        -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg); }
      #revCont #mainBodyCont #headerCont .d {
        width: 245px;
        float: right;
        -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
        top: 67px;
        right: 254px; }
      #revCont #mainBodyCont #headerCont h1 {
        font-weight: 900;
        font-size: 65px;
        letter-spacing: 18px;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08); }
    #revCont #mainBodyCont p {
      font-size: 45px; }
    #revCont #mainBodyCont #firstSpan {
      margin-left: 35px; }
    #revCont #mainBodyCont span {
      display: inline-block;
      z-index: 1;
      font-family: "Nunito", "Sans-serif", "arial";
      padding: 10px 35px;
      font-size: 21px;
      font-weight: 1;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      #revCont #mainBodyCont span:hover {
        cursor: pointer;
        text-decoration: underline;
        opacity: 0.9; }
  #revCont #chevCont:hover {
    width: 60px;
    height: 60px;
    margin-left: -30px; }
    #revCont #chevCont:hover i {
      padding-top: 30px;
      padding-left: 14px; }
  #revCont #chevCont {
    z-index: 4;
    position: absolute;
    margin-left: -25px;
    bottom: 100px;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background-color: white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.13);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-animation: pulse 3s infinite ease-in-out;
    animation: pulse 3s infinite ease-in-out; }
    #revCont #chevCont:hover {
      cursor: pointer; }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: rotate(45deg), scale(0.9);
    transform: rotate(45deg), scale(0.9);
    opacity: 0.7; }
  50% {
    -webkit-transform: rotate(45deg), scale(1);
    transform: rotate(45deg), scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(45deg), scale(0.9);
    transform: rotate(45deg), scale(0.9);
    opacity: 0.7; } }
@keyframes pulse {
  0% {
    -webkit-transform: rotate(45deg), scale(0.9);
    transform: rotate(45deg), scale(0.9);
    opacity: 0.7; }
  50% {
    -webkit-transform: rotate(45deg), scale(1);
    transform: rotate(45deg), scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(45deg), scale(0.9);
    transform: rotate(45deg), scale(0.9);
    opacity: 0.7; } }
    #revCont #chevCont i {
      color: #22b1ab;
      font-size: 20px;
      padding-top: 24px;
      padding-left: 11px;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }

#infoCont {
  position: relative;
  width: 100%;
  margin-top: -50px;
  height: 100vh;
  background-color: #fbfbfb; }
  #infoCont p {
    padding-top: 28vh;
    padding-left: 160px;
    font-family: "Nunito Sans", "Sans-serif", "arial";
    font-size: 50px;
    width: 500px;
    color: #312e2e; }
  #infoCont ul {
    padding-left: 160px;
    font-size: 19px;
    letter-spacing: 0.06em;
    list-style-type: none; }
    #infoCont ul li {
      padding-top: 30px; }
    #infoCont ul i {
      color: #22b1ab;
      padding-right: 10px; }
    #infoCont ul a {
      text-transform: uppercase;
      color: #8d8b8b;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    #infoCont ul a:hover {
      padding-left: 10px;
      color: #312e2e; }
  #infoCont img {
    position: absolute;
    top: 25vh;
    right: 200px;
    width: 500px; }

#bottomPanel {
  width: 100%;
  height: 500px;
  background-image: -webkit-linear-gradient(340.4deg, #2b2c31 11.2%, #27262b 91.1%);
  background-image: -o-linear-gradient(340.4deg, #2b2c31 11.2%, #27262b 91.1%);
  background-image: linear-gradient(109.6deg, #2b2c31 11.2%, #27262b 91.1%); }
  #bottomPanel .panel {
    margin-top: 70px;
    margin-left: 160px;
    position: absolute;
    width: 200px; }
    #bottomPanel .panel h1 {
      padding: 10px 0;
      color: #99bbf1;
      font-size: 19px;
      font-weight: 400; }
    #bottomPanel .panel p {
      z-index: 9;
      padding-top: 7px;
      color: white; }
      #bottomPanel .panel p:hover {
        opacity: 0.7;
        cursor: pointer; }
  #bottomPanel .two {
    margin-left: 500px; }
  #bottomPanel .three {
    margin-left: 900px; }
  #bottomPanel .four {
    margin-left: 1300px; }
    #bottomPanel .four input {
      height: 50px;
      border: 0px;
      width: 169px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      text-indent: 15px; }
    #bottomPanel .four input:focus {
      outline: none; }
    #bottomPanel .four #fakeSubmit {
      height: 52px;
      width: 50px;
      background-color: white;
      background-image: -webkit-linear-gradient(27deg, #f2a8a8 2.9%, rgba(94, 46, 165, 0.6) 102.1%);
      background-image: -o-linear-gradient(27deg, #f2a8a8 2.9%, rgba(94, 46, 165, 0.6) 102.1%);
      background-image: linear-gradient(63deg, #f2a8a8 2.9%, rgba(94, 46, 165, 0.6) 102.1%);
      float: left;
      margin-top: -52px;
      margin-left: 169px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      text-align: center;
      color: white;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      #bottomPanel .four #fakeSubmit:hover {
        cursor: pointer;
        opacity: 0.9; }
      #bottomPanel .four #fakeSubmit i {
        padding-top: 35%; }

@media only screen and (max-height: 900px) {
  #revCont #mainBodyCont {
    padding-top: 150px; } }
@media only screen and (max-height: 800px) {
  #revCont #chevCont {
    bottom: 50px; } }
@media only screen and (max-height: 730px) {
  #revCont #mainBodyCont p {
    font-size: 35px; } }
@media only screen and (max-height: 700px) {
  #revCont #mainBodyCont {
    padding-top: 100px; } }
@media only screen and (max-width: 1600px) {
  #bottomPanel .two {
    margin-left: 30%; }
  #bottomPanel .three {
    margin-left: 50%; }
  #bottomPanel .four {
    margin-left: 70%; }

  #infoCont {
    margin-top: -80px p;
      margin-top-font-size: 45px; }
    #infoCont img {
      margin-top: 50px;
      width: 400px;
      right: 10%; }
    #infoCont ul li {
      padding-top: 15px; }
    #infoCont ul a, #infoCont ul i {
      font-size: 16px; } }
@media only screen and (max-width: 1400px) {
  #navbarCont #navACont li {
    font-size: 13px; }
    #navbarCont #navACont li a {
      padding: 34px 20px; }
      #navbarCont #navACont li a .hoverMore {
        width: 710px; }
        #navbarCont #navACont li a .hoverMore .sideByFirst {
          right: 230px; } }
@media only screen and (max-width: 1300px) {
  #navbarCont {
    height: 75px; }
    #navbarCont #navACont span {
      line-height: 40px;
      font-size: 25px; }
    #navbarCont #navACont #lastA {
      margin-right: 0px; }
    #navbarCont #navACont li {
      padding-top: 13px; }
      #navbarCont #navACont li a {
        padding-bottom: 25px; }
        #navbarCont #navACont li a .hoverMore {
          top: 75px;
          width: 660px; }
          #navbarCont #navACont li a .hoverMore .sideByFirst {
            right: 200px; }

  #infoCont {
    margin-top: -35px; }
    #infoCont p {
      font-size: 35px;
      width: 350px; }
    #infoCont img {
      margin-top: 8vh;
      width: 250px; }
    #infoCont ul a, #infoCont ul i {
      font-size: 14px; }

  #bottomPanel .two {
    margin-left: 32%; }
  #bottomPanel .three {
    margin-left: 52%; } }
@media only screen and (max-width: 1000px) {
  #navbarCont #navACont #respNav, #navbarCont .respDown #respNav {
    display: block; }
  #navbarCont #navACont #lastA, #navbarCont .respDown #lastA {
    margin-top: 19px; }
  #navbarCont #navACont li, #navbarCont .respDown li {
    display: none;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1px 0px;
    text-align: center;
    position: relative;
    width: 100vw; }
    #navbarCont #navACont li a, #navbarCont .respDown li a {
      display: block;
      padding: 28px 30px;
      margin-left: 23px; }
      #navbarCont #navACont li a:hover, #navbarCont .respDown li a:hover {
        border: 0; }
        #navbarCont #navACont li a:hover .hoverMore, #navbarCont .respDown li a:hover .hoverMore {
          border-top: 3px solid  #22b1ab; }
      #navbarCont #navACont li a .hoverMore, #navbarCont .respDown li a .hoverMore {
        background-color: rgba(255, 255, 255, 0.8);
        position: relative;
        margin-left: -36px;
        width: 100vw;
        border: 0;
        top: 31px;
        float: left;
        margin-bottom: 30px; }
        #navbarCont #navACont li a .hoverMore h1, #navbarCont .respDown li a .hoverMore h1 {
          font-size: 16px;
          padding: 20px 0px;
          padding-bottom: 3px;
          text-align: left; }
        #navbarCont #navACont li a .hoverMore p, #navbarCont .respDown li a .hoverMore p {
          font-size: 14px;
          padding: 3px 0px;
          text-align: left; }
        #navbarCont #navACont li a .hoverMore .sideByIn, #navbarCont .respDown li a .hoverMore .sideByIn {
          position: absolute;
          width: 33%;
          height: 100%;
          top: 0px;
          left: 5%; }
        #navbarCont #navACont li a .hoverMore .sideByFirst, #navbarCont .respDown li a .hoverMore .sideByFirst {
          position: absolute;
          width: 33%;
          height: 100%;
          top: 0px;
          left: 38%; }
        #navbarCont #navACont li a .hoverMore .sideByLast, #navbarCont .respDown li a .hoverMore .sideByLast {
          position: relative;
          width: 33%;
          height: 100%;
          top: 0%;
          left: 71%; }
  #navbarCont #navACont.respLive li {
    display: block; }

  #revCont #mainBodyCont {
    width: 100%; }
    #revCont #mainBodyCont #headerCont .line {
      display: none; }
    #revCont #mainBodyCont p {
      margin-left: 2.5%;
      width: 95%; }

  #infoCont p {
    padding-left: 10%; }
  #infoCont ul {
    padding-left: 10%; }

  #bottomPanel {
    height: 700px; }
    #bottomPanel .panel {
      margin-left: 15%;
      width: 33%; }
    #bottomPanel .two {
      margin-left: 55%; }
    #bottomPanel .three {
      margin-top: 400px;
      margin-left: 15%; }
    #bottomPanel .four {
      margin-top: 400px;
      margin-left: 55%; } }
@media only screen and (max-width: 785px) {
  #revCont #mainBodyCont {
    padding-top: 20vh;
    width: 100%; }
    #revCont #mainBodyCont #headerCont h1 {
      font-size: 50px; }
    #revCont #mainBodyCont p {
      font-size: 35px; }
    #revCont #mainBodyCont #firstSpan {
      margin-left: 1%; }
    #revCont #mainBodyCont span {
      font-size: 18px; }

  #infoCont {
    height: 900px; }
    #infoCont img {
      top: 50px;
      right: 50%;
      margin-right: -125px; }
    #infoCont p {
      width: 80%;
      padding-top: 400px;
      text-align: center; }
    #infoCont i {
      display: none; }
    #infoCont ul {
      padding: 0;
      text-align: center; } }
@media only screen and (max-width: 613px) {
  #revCont #mainBodyCont p {
    font-size: 24px; }
  #revCont #chevCont {
    bottom: 50px; } }
@media only screen and (max-width: 550px) {
  #bottomPanel .panel {
    margin-left: 10%;
    width: 33%; }
    #bottomPanel .panel h1 {
      font-size: 15px; }
    #bottomPanel .panel p {
      font-size: 13px; }
  #bottomPanel .two {
    margin-left: 50%; }
  #bottomPanel .three {
    margin-top: 400px;
    margin-left: 10%; }
  #bottomPanel .four {
    margin-top: 400px;
    margin-left: 50%; } }
@media only screen and (max-width: 460px) {
  #bottomPanel {
    height: 900px; }
    #bottomPanel .four {
      margin-top: 650px;
      margin-left: 10%; } }
@media only screen and (max-width: 479px) {
  #revCont #mainBodyCont #headerCont h1 {
    font-size: 37px;
    margin-left: 15px; } }
@media only screen and (max-width: 515px) {
  #navbarCont #navACont li a:hover .hoverMore {
    height: 440px; }
  #navbarCont #navACont li a:hover .research {
    height: 300px; }
  #navbarCont #navACont li a .hoverMore .sideByIn {
    width: 50%;
    left: 5%; }
  #navbarCont #navACont li a .hoverMore .sideByFirst {
    width: 50%;
    left: 55%; }
  #navbarCont #navACont li a .hoverMore .sideByLast {
    position: relative;
    width: 33%;
    height: 100%;
    top: 260px;
    left: 5%; } }
@media only screen and (max-width: 515px) {
  #navbarCont #navACont li a .hoverMore h1 {
    font-size: 14px; }
  #navbarCont #navACont li a .hoverMore p {
    font-size: 12px; } }

/*# sourceMappingURL=stylesheet.css.map */
